@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-primary: var(--theme-primary, #d32f2f);
  --color-primary-bg: var(--theme-bg, #111827);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}

@layer utilities {
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(10px) translateX(-50%);
    }

    to {
      opacity: 1;
      transform: translateY(0) translateX(-50%);
    }
  }

  .animate-fadeIn {
    animation: fadeIn 0.15s ease-out forwards;
  }
}